/* price content */
.country__wrapper {
  flex-basis: 33.33%;
  width: 33.33%;
}
.country__content {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 7px; 
    padding: 0 23px;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .country__content:hover {
    box-shadow: 3px 3px 9px rgba(0,0,0,.1);
  }
  .country__content h3 {
    color: #8a959e;
    font-size: 12.5px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .country__content input {
    padding: 0;
    border: none;
    outline: none;
  }
  .country__content input:focus::placeholder {
    color: transparent;
  }
  .country__content p {
    color: black;
    font-size: 14.5px;
    letter-spacing: 1px;
  }