/* price content */
.country__content {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 7px; 
    padding: 13px 23px;
    height: 100%;
  }
  .country__content h3 {
    color: #8a959e;
    font-size: 12.5px;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }
  .country__content p {
    color: black;
    font-size: 14.5px;
    letter-spacing: 1px;
  }