.modal {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #d3d3d3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1;
}
.modal__close {
  height: 32px;
  position: fixed;
  right: 11px;
  top: 10px;
  width: 27px;
}
.modal__close:hover {
  cursor: pointer;
}
.modal__close__outer {
  background-color: #000;
  height: 31px;
  width: 2px;
  z-index: 1;
  margin-left: 12px;
  transform: rotate(45deg);
}
.modal__close__inner {
  transform: rotate(90deg);
  background-color: #000;
  height: 31px;
  width: 2px;
  z-index: 2;
}
.modal__wrapper h3 {
  margin: 20px 0;
  white-space: nowrap;
}
.modal__wrapper h3:first-child,
.modal__wrapper h3:last-child {
  margin: 0;
}
