.view__more {
  margin: 2rem auto 2rem auto;
  display: flex;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  transform: scale(1);
}
.view__more:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s;
}
